p#pogrubienie_Bednarek {
    font-size: 33px;
    color: #8573CB;
}

p#pochylone_Bednarek {
    font-size: 38pt;
    color: #DF9671;
}

p#index_gorny_Bednarek {
    vertical-align: super;
    font-size: 1.3cm;
    color: #916A34;
}

p#index_dolny_Bednarek {
    vertical-align: sub;
    font-size: 2.1cm;
    color: rgb(53%, 96%, 76%);
}

p#mono_Bednarek {
    font-size: 43px;
    color: #1375CA;
}

p#powiekszenie_Bednarek {
    font-size: 83px;
    color: #1478D1;
}

p#pomniejszenie_Bednarek {
    font-size: 40px;
    color: rgb(183, 127, 49);
}

